/* For all elements */

* {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

/* For index.html */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(39 41 52);
    text-align: center;
}

a {
    transition: 0.2s;
}

.navbar {
    padding: 1rem;
}

.navbar .GPTBot {
    font-size: 1.6rem;
    text-align: left;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: none;
}

.navbar ul li {
    display: inline;
    padding: .5rem;
}

h1 {
    font-size: 4rem;
}

.main {
    transform: translate(0, 30%);
    text-align: center;
    overflow-wrap: break-word;
}

.main p {
    display: inline;
    transform: translate(-3rem, 0);
}

.main p a {
    color: black;
    border-radius: 1.2rem;
    padding: 1rem;
    background-color: aliceblue;
    display: inline-flex;
    transform: translate(0, -2rem);
    margin-left: 0.1rem;
}

.add p a {
    background-color: #FF4500;
    color: aliceblue;
    font-weight: bold;
    font-size: 1rem;
}

.main a:hover {
    filter: brightness(57%);
}

.center {
    transform: translate(0rem, -2rem);
    margin: 1rem;
    font-size: 2rem;
}

.toggle-button {
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    display: none;
    font-size: 3rem;
    z-index: 1;
}

a:hover {
    color: #FF4500;
}

@media only screen and (max-width: 210px) {
    .toggle-button {
        transform: translate(1rem, 0);
    }

    .GPTBot {
        transform: translate(-1rem, 0);
    }

    .add p a {
        padding: 1rem;
    }
}


/* For tutorial.html */

.title {
    font-size: 6.5vw;
    text-decoration: underline;
    text-align: center;
    overflow-wrap: break-word;
}

.help-commands {
    display: list-item;
    font-size: 100%;
    width: 50%;
    transform: translate(30%);
    padding: 0.5rem 6vw 0.5rem 6vw;
    background-color: rgb(30 32 40);
    overflow-wrap: break-word;
    list-style: none;
    border-radius: 2.5rem;
    border: 2px solid #777;
}

.help-commands li {
    margin: 1.9rem 0 1.9rem 0;
}

/* for contact.html */

img {
    width: 25vw;
}